body {
    background-color: rgb(194, 241, 194);
    color:black;
    text-align: justify;
    font-size: 30px;
}

h1 {
    background-color: black;
    color:white;
    text-align: center;
    font-size: 40px;
}